html,
body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: cadetblue;
  /* color: white; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

div {
  width: 100%;
}

// sortable
.sortable-wrapper {
  width: 100%;
}

ul {
  list-style: none;
  height: 400px;
  overflow: auto;
}

li {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  cursor: move;
}

li:hover {
  background-color: #ccc;
}

table {
  table-layout: fixed;
  width: 100%;
  background-color: #ccc;
  color: black;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
}

// dnd
.draggable-list {
  width: 100%;
}
